<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 mat-dialog-title class="text-center" style="color: #1b1b1e">{{datosExamenEditar.examen ? "Editar" : "Crear"}} Exámen</h1>
      <div mat-dialog-content>
        <app-formulario-examen
          (Examen)="capturarDatosExamen($event)"
          [datosExamen]="datosExamenEditar"
        >
        </app-formulario-examen>
      </div>
      <div mat-dialog-actions>
        <button class="btn btn-block btn-info" mat-button [disabled]="!habilitarGuardar" (click)="enviarDatos()">
          Guardar
        </button>
        <button class="btn btn-block btn-outline-dark" mat-button mat-dialog-close>Cancelar</button>
      </div>
    </div>
  </div>
</div>
