<div class="container">

  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <app-titulo
        [titulo]="'Exámenes'"
        [imagen]="'assets/imagenes/examen.svg'"
        [descripcion]="'Guarde y edite los exámenes de: '"
        [descTitulo]="nombreCliente"
      ></app-titulo>
    </div>
  </div>
  <div class="row" style="padding-top:1rem">

    <div class="col-sm-6">
      <p-breadcrumb [model]="migasDePan"></p-breadcrumb>
    </div>
    <div class="col-sm-6 text-right">
      Exámenes realizados al paciente:

      <h2>
        {{cantidadExamenes}}
      </h2>
    </div>

  </div>
  <div class="row">
    <app-filtro-fecha
      (Busqueda)="escucharFechaBusqueda($event)">

    </app-filtro-fecha>
  </div>
  <div class="row" style="padding-top:1rem">
    <div class="col-sm-12">
      <button class="btn btn-block btn-outline-info" (click)="abrirModalCrearEditarExamen()">NUEVO</button>
    </div>
  </div>
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <p-table class="table table-striped table-bordered "
               [responsive]="true"
               [value]="datosExamen"
               [lazy]="true"
               (onLazyLoad)="cargarDatosLazy($event)"
               [paginator]="true"
               [rows]="filasTablaExamen"
               [totalRecords]="cantidadExamenes"
               [columns]="columnasExamen"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.header==='Tipo Examen'">
                {{fila.tipoExamen.nombre}}
              </div>
              <div *ngIf="col.header==='Fecha'">
                {{fila[col.campo]}}
              </div>
              <div *ngIf="col.header==='Comentario'">
                <div *ngIf="fila.comentario===null">
                  <div style="color: #f4a261 ">Sin comentarios</div>
                </div>
                <div *ngIf="fila.comentario">
                  {{fila[col.campo]}}
                </div>
              </div>
              <div *ngIf="col.header==='Opciones'">
                <button class="btn btn-block btn-info" (click)="abrirModalCrearEditarExamen(fila)">EDITAR</button>
                <!-- <button class="btn btn-block btn-outline-secondary" (click)="eliminarTelefono(fila)">ELIMINAR</button>-->
              </div>

            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
