<div class="container">
  <form [formGroup]="formularioTipoExamen">
    <div class="form-group ">
      <label for="nombre" class="text-capitalize" style="color: #1b1b1e">Nombre*:</label>
      <input [formControlName]="'nombre'" type="text" class="form-control" id="nombre" placeholder="Ej: Músuculo esquelético">
      <small id="nombreAyuda" class="form-text text-muted">Escriba el nombre del examen</small>
    </div>
  </form>
</div>
