<div class="container">
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <app-titulo
        [titulo]="'Pacientes'"
        [imagen]="'assets/imagenes/cliente.svg'"
        [descripcion]="'Guarde y edite los datos de sus pacientes'"
      ></app-titulo>
    </div>
  </div>
  <div class="row"  style="padding-top:1rem">
    <p-breadcrumb [model]="migasDePan"></p-breadcrumb>
  </div>
  <div class="row" style="padding-top:1rem">
    <div class="col-sm-8">
      <app-form-busqueda
        [busquePor]="'Busque el cliente por Nombres o Apellidos'"
        [ayuda]="'Ingrese Nombre o Apellido'"
        (Busqueda)="escucharBusqueda($event)"
      ></app-form-busqueda>
    </div>
    <div class="col-sm-2" style="padding-top:1.75rem">
      <button class="btn btn-block btn-outline-info" (click)="buscarCliente()">BUSCAR</button>
    </div>

    <div class="col-sm-2" style="padding-top:1.75rem">
      <button class="btn btn-block btn-outline-info" (click)="abrirModalCrearEditarCliente()">NUEVO</button>
    </div>

  </div>
  <div class="row " style="padding-top:3rem">
    <div class="col-sm-12 ">
      <p-table class="table table-striped table-bordered "
               [responsive]="true"
               [value]="datosClientes"
               [lazy]="true"
               (onLazyLoad)="cargarDatosLazy($event)"
               [paginator]="true"
               [rows]="filasTablaClientes"
               [totalRecords]="cantidadClientes"
               [loading]="cargando"
               [columns]="columnasCliente"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.header==='Nombres'">
                {{fila[col.campo]}}
              </div>
              <div *ngIf="col.header==='Apellidos'">
                {{fila[col.campo]}}
              </div>
              <div *ngIf="col.header==='Teléfonos'">
                <div *ngIf="fila['telefonos']?.length===0">
                  <div style="color: #f4a261 ">No registrado</div>
                </div>
                <div *ngFor="let telefono of fila[col.campo] ">
                  <div *ngIf="telefono">
                    {{ telefono.numero}}
                  </div>
                </div>
              </div>

              <div *ngIf="col.header==='Opciones'">
                <button class="btn btn-block btn-info" (click)="abrirModalCrearEditarCliente(fila)">EDITAR</button>
                <button class="btn btn-block btn-info" (click)="irAExamenesCliente(fila.id)">EXAMENES</button>
                <button class="btn btn-block btn-info" (click)="irATelefonosCliente(fila.id)">TELÉFONOS</button>
              </div>

            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
