<div class="container">

  <div class="row">
    <div class="col-sm-10">
      <form [formGroup]="formFiltroFecha">
        <div class="form-group">
          <label for="busqueda">Filtro de fechas:</label>
          <input
            [formControlName]="'busqueda'"
            type="date"
            class="form-control"
            id="busqueda"
            aria-describedby="ayudaFicha"
          >
          <small id="ayudaBusqueda " class="form-text text-muted">Seleccione una fecha para filtrar</small>
        </div>
        <ng-content></ng-content>
      </form>
    </div>
    <div class="col-sm-2 text-left" style=" padding-top: 1.7rem">
      <button class="btn  btn-outline-dark" (click)="limpiarFecha()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>
</div>

