<div class="container">

  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <app-titulo
        [titulo]="'Teléfonos'"
        [imagen]="'assets/imagenes/telefono.svg'"
        [descripcion]="'Guarde y edite los teléfonos de: '"
        [descTitulo]="nombreCliente"
      ></app-titulo>
    </div>
  </div>
  <div class="row" style="padding-top:1rem">
    <p-breadcrumb [model]="migasDePan"></p-breadcrumb>
  </div>
  <div class="row" style="padding-top:1rem">
    <div class="col-sm-12">
      <button class="btn btn-block btn-outline-info" (click)="abrirModalCrearEditarTelefono()">NUEVO</button>
    </div>
  </div>
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <p-table class="table table-striped table-bordered "
               [responsive]="true"
               [value]="datosTelefonos"
               [lazy]="true"
               (onLazyLoad)="cargarDatosLazy($event)"
               [paginator]="true"
               [rows]="filasTablaTelefonos"
               [totalRecords]="cantidadTelefonos"
               [columns]="columnasTelefono"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.header==='Número'">
                {{fila[col.campo]}}
              </div>
              <div *ngIf="col.header==='Opciones'">
                <button class="btn btn-block btn-info" (click)="abrirModalCrearEditarTelefono(fila)">EDITAR</button>
                <button class="btn btn-block btn-outline-secondary" (click)="eliminarTelefono(fila)">ELIMINAR</button>
              </div>

            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
