<div class="container">
  <div class="row border" style="border-bottom-color: #1b1b1e; padding-top: 1rem">
    <div class=" col-auto">
      <img src="{{imagen}}" alt="" height="90" width="90">
    </div>
    <div class="col-auto">
      <br>
      <h1 style="color: #A0C4FF">{{titulo}}</h1>
      <h3 style="color: #BDB2FF">{{descripcion}} <span style="color: #1b1b1e">{{descTitulo}}</span></h3>
    </div>
  </div>
</div>

