<div class="container">
  <form [formGroup]="formularioExamen">
    <div class="form-group ">
      <label for="tipoExamen" class="text-capitalize" style="color: #1b1b1e">Tipo Examen*:</label>
      <br>
      <p-autoComplete [formControlName]="'tipoExamen'" id="tipoExamen" [suggestions]="tiposExamen"
                      (completeMethod)="cargarTipoExamen($event)" [dropdown]="true" [forceSelection]="true"
                      [field]="'nombre'"

      >

      </p-autoComplete>
      <small id="tipoExamenAyuda" class="form-text text-muted">Seleccione el tipo de examen</small>
    </div>
    <div class="form-group ">
      <label for="fecha" class="text-capitalize" style="color: #1b1b1e">Fecha*:</label>
      <input [formControlName]="'fecha'" type="date" class="form-control" id="fecha" placeholder="Ej: García">
      <small id="fechaAyuda" class="form-text text-muted">Seleccione la fecha</small>
    </div>
    <div class="form-group  ">
      <label for="comentario" class="text-capitalize" style="color: #1b1b1e">Comentario:</label>
      <input [formControlName]="'comentario'" type="text" class="form-control" id="comentario"
             placeholder="Ej: El paciente...">
      <small id="comentarioAyuda" class="form-text text-muted">Si tiene algún comentario sobre el examen escribalo
        aquí</small>
    </div>

  </form>
</div>
