<div class="container">
  <form [formGroup]="formularioTelefono">
    <div class="form-group ">
      <label for="numero" class="text-capitalize" style="color: #1b1b1e">Teléfono:</label>
      <input [formControlName]="'numero'" type="text" class="form-control" id="numero" placeholder="Ej: 0999999999">
      <small id="numeroAyuda" class="form-text text-muted">Escriba un número de teléfono del cliente</small>
    </div>
  </form>
</div>
