<div class="container">
  <form [formGroup]="formularioCliente">
    <div class="form-group ">
      <label for="apellidos" class="text-capitalize" style="color: #1b1b1e">Apellidos:*</label>
      <input [formControlName]="'apellidos'" type="text" class="form-control" id="apellidos" placeholder="Ej: García">
      <small id="apellidosAyuda" class="form-text text-muted">Escriba los apellidos del cliente</small>
    </div>
    <div class="form-group ">
      <label for="nombres" class="text-capitalize" style="color: #1b1b1e">Nombres*:</label>
      <input [formControlName]="'nombres'" type="text" class="form-control" id="nombres" aria-describedby="emailHelp"
             placeholder="Ej: Alberto">
      <small id="nombresAyuda" class="form-text text-muted">Escriba los nombres del cliente</small>
    </div>
    <div class="form-group " [hidden]="ocultarTelefono">
      <label for="apellidos" class="text-capitalize" style="color: #1b1b1e">Teléfono:</label>
      <input [formControlName]="'telefono'" type="text" class="form-control" id="telefono" placeholder="Ej: 0999999999">
      <small id="telefonoAyuda" class="form-text text-muted">Escriba un número de teléfono del cliente</small>
    </div>

  </form>
</div>
