<div class="container" style="padding-bottom:2rem">
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <app-titulo
        [titulo]="'Menú principal'"
        [imagen]="'assets/imagenes/menu.svg'"
        [descripcion]="'Seleccione una opción'"
      ></app-titulo>
    </div>
  </div>

  <div class="row justify-content-center" style="padding-top:1rem">

    <div class=" col-sm-3 border " style="padding-top:1rem">
      <div class="text-center" style="padding-bottom: 1rem">
        <img src="assets/imagenes/cliente.svg" alt="" height="120" width="120">
      </div>
      <button class="btn btn-block btn-outline-dark" (click)="irAPacientes()">PACIENTES</button>
    </div>
    <div style="padding-left:1rem"></div>
    <div class=" col-sm-3 border " style="padding-top:1rem">
      <div class="text-center" style="padding-bottom: 1rem">
        <img src="assets/imagenes/examen.svg" alt="" height="120" width="120">
      </div>
      <button class="btn btn-block btn-outline-dark" (click)="irATiposExamenes()">TIPOS DE EXÁMENES</button>
    </div>


  </div>

</div>


