<div class="container">
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <app-titulo
        [titulo]="'Tipos de Exámenes'"
        [imagen]="'assets/imagenes/examen.svg'"
        [descripcion]="'Guarde y edite los Tipos de Exámenes'"
      ></app-titulo>
    </div>
  </div>
  <div class="row" style="padding-top:1rem">
    <p-breadcrumb [model]="migasDePan"></p-breadcrumb>
  </div>
  <div class="row" style="padding-top:1rem">
    <div class="col-sm-8">
      <app-form-busqueda
        [busquePor]="'Busque el examen por Nombre'"
        [ayuda]="'Ingrese Nombre'"
        (Busqueda)="escucharBusqueda($event)"
      ></app-form-busqueda>
    </div>
    <div class="col-sm-2" style="padding-top:1.75rem">
      <button class="btn btn-block btn-outline-info" (click)="buscarTipoExamen()">BUSCAR</button>
    </div>

    <div class="col-sm-2" style="padding-top:1.75rem">
      <button class="btn btn-block btn-outline-info" (click)="abrirModalCrearEditarTipoExamen()">NUEVO</button>
    </div>

  </div>
  <div class="row" style="padding-top:3rem">
    <div class="col-sm-12">
      <p-table class="table table-striped table-bordered "
               [responsive]="true"
               [value]="datosTipoExamen"
               [lazy]="true"
               (onLazyLoad)="cargarDatosLazy($event)"
               [paginator]="true"
               [rows]="filasTablaTipoExamen"
               [totalRecords]="cantidadTipoExamen"
               [loading]="cargando"
               [columns]="columnasCliente"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fila let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.header==='Nombre'">
                {{fila[col.campo]}}
              </div>

              <div *ngIf="col.header==='Opciones'">
                <button class="btn btn-block btn-info" (click)="abrirModalCrearEditarTipoExamen(fila)">EDITAR</button>
              </div>

            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
