<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 mat-dialog-title class="text-center" style="color: #1b1b1e">{{datosTelefonoEditar.telefono ? "Editar" : "Crear"}} Teléfono</h1>
      <div mat-dialog-content>
        <app-formulario-telefono
          (Telefono)="capturarDatosTelefono($event)"
          [datosTelefono]="datosTelefonoEditar"
        >
        </app-formulario-telefono>
      </div>
      <div mat-dialog-actions>
        <button class="btn btn-block btn-info" mat-button [disabled]="!habilitarGuardar" (click)="enviarDatos()">
          Guardar
        </button>
        <button class="btn btn-block btn-outline-dark" mat-button mat-dialog-close>Cancelar</button>
      </div>
    </div>
  </div>
</div>

