<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formBusqueda">
        <div class="form-group ">
          <label for="busqueda">{{busquePor}}</label>
          <input
            [formControlName]="'busqueda'"
            type="text"
            class="form-control"
            id="busqueda"
            aria-describedby="ayudaFicha"
          >
          <small id="ayudaBusqueda " class="form-text text-muted">{{ayuda}}</small>
        </div>
        <ng-content></ng-content>
      </form>
    </div>
  </div>
</div>

